.priceSlider {
    display: flex;
    flex-direction: column;

    &__head {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        gap: 40px;

        &_input {
            font-size: 15px;
            font-weight: bold;
            text-align: center;
            padding: 3px 5px;
            max-width: 80px;
            outline: none;


        }
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}